<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amethysta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}FloraFare{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('views.home') }}"><img src="{{url_for('static', filename='images/florafare.png')}}" alt=""></a>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{{ url_for('views.add_plant') }}">Add Plant</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="hideMe">
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>