{% from 'form_helper.html' import displayField %}

{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="reg-container">
    <div class="form-container">

<h1>Register</h1>

<hr id="login-line">

<form method="post" class="reg-form">

    {{ displayField(form.username, 'Username', autocomplete='off', autofocus=true) }}
    {{ displayField(form.email, 'Email')}}
    {{ displayField(form.password, 'Password') }}
    {{ displayField(form.confirm_pswd, 'Confirm Password') }}

    <div>
        {{ form.submit_button }}
    </div>

    {{ form.csrf_token }}
</form>

</div>
</div>

{% endblock %}